<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>shareit</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
		<init-param>
			<description>
				Path to configuration file can be relative path inside application,
				absolute path on local file system or UNC path.
			</description>
			<param-name>XMLConfig</param-name>
			<param-value>/WEB-INF/config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<url-pattern>
			/ckfinder/core/connector/java/connector.java
		</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>AuthLoginController</servlet-name>
    <servlet-class>controller.AuthLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLoginController</servlet-name>
    <url-pattern>/auth/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthLogoutController</servlet-name>
    <servlet-class>controller.AuthLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLogoutController</servlet-name>
    <url-pattern>/auth/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexCotroller</servlet-name>
    <servlet-class>controller.AdminIndexCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCotroller</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexCatCotroller</servlet-name>
    <servlet-class>controller.AdminIndexCatCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCatCotroller</servlet-name>
    <url-pattern>/admin/danh-muc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexUserCotroller</servlet-name>
    <servlet-class>controller.AdminIndexUserCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexUserCotroller</servlet-name>
    <url-pattern>/admin/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddCatCotroller</servlet-name>
    <servlet-class>controller.AdminAddCatCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCatCotroller</servlet-name>
    <url-pattern>/admin/danh-muc/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditCatCotroller</servlet-name>
    <servlet-class>controller.AdminEditCatCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCatCotroller</servlet-name>
    <url-pattern>/admin/danh-muc/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelCatCotroller</servlet-name>
    <servlet-class>controller.AdminDelCatCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCatCotroller</servlet-name>
    <url-pattern>/admin/danh-muc/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchCatCotroller</servlet-name>
    <servlet-class>controller.AdminSearchCatCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchCatCotroller</servlet-name>
    <url-pattern>/admin/danh-muc/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddUserCotroller</servlet-name>
    <servlet-class>controller.AdminAddUserCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserCotroller</servlet-name>
    <url-pattern>/admin/user/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditUserCotroller</servlet-name>
    <servlet-class>controller.AdminEditUserCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditUserCotroller</servlet-name>
    <url-pattern>/admin/user/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelUserCotroller</servlet-name>
    <servlet-class>controller.AdminDelUserCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelUserCotroller</servlet-name>
    <url-pattern>/admin/user/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchUserCotroller</servlet-name>
    <servlet-class>controller.AdminSearchUserCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchUserCotroller</servlet-name>
    <url-pattern>/admin/user/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexAdsCotroller</servlet-name>
    <servlet-class>controller.AdminIndexAdsCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexAdsCotroller</servlet-name>
    <url-pattern>/admin/ads</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddAdsCotroller</servlet-name>
    <servlet-class>controller.AdminAddAdsCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddAdsCotroller</servlet-name>
    <url-pattern>/admin/ads/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditAdsCotroller</servlet-name>
    <servlet-class>controller.AdminEditAdsCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditAdsCotroller</servlet-name>
    <url-pattern>/admin/ads/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelAdsCotroller</servlet-name>
    <servlet-class>controller.AdminDelAdsCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelAdsCotroller</servlet-name>
    <url-pattern>/admin/ads/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchAdsCotroller</servlet-name>
    <servlet-class>controller.AdminSearchAdsCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchAdsCotroller</servlet-name>
    <url-pattern>/admin/ads/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminChangeSlideAdsCotroller</servlet-name>
    <servlet-class>controller.AdminChangeSlideAdsCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminChangeSlideAdsCotroller</servlet-name>
    <url-pattern>/admin/ads/change-slide</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexNewsCotroller</servlet-name>
    <servlet-class>controller.AdminIndexNewsCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexNewsCotroller</servlet-name>
    <url-pattern>/admin/tin-tuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddNewsCotroller</servlet-name>
    <servlet-class>controller.AdminAddNewsCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewsCotroller</servlet-name>
    <url-pattern>/admin/tin-tuc/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditNewsCotroller</servlet-name>
    <servlet-class>controller.AdminEditNewsCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditNewsCotroller</servlet-name>
    <url-pattern>/admin/tin-tuc/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelNewsCotroller</servlet-name>
    <servlet-class>controller.AdminDelNewsCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelNewsCotroller</servlet-name>
    <url-pattern>/admin/tin-tuc/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchNewsCotroller</servlet-name>
    <servlet-class>controller.AdminSearchNewsCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchNewsCotroller</servlet-name>
    <url-pattern>/admin/tin-tuc/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminChangeActiveNewsCotroller</servlet-name>
    <servlet-class>controller.AdminChangeActiveNewsCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminChangeActiveNewsCotroller</servlet-name>
    <url-pattern>/admin/tin-tuc/change-active</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AdminChangeSlideNewsCotroller</servlet-name>
    <servlet-class>controller.AdminChangeSlideNewsCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminChangeSlideNewsCotroller</servlet-name>
    <url-pattern>/admin/tin-tuc/change-slide</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicIndexController</servlet-name>
    <servlet-class>controller.PublicIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexController</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCatController</servlet-name>
    <servlet-class>controller.PublicCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCatController</servlet-name>
    <url-pattern>/cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicDetailController</servlet-name>
    <servlet-class>controller.PublicDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDetailController</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexCmtCotroller</servlet-name>
    <servlet-class>controller.AdminIndexCmtCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCmtCotroller</servlet-name>
    <url-pattern>/admin/comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminChangeActiveCmtCotroller</servlet-name>
    <servlet-class>controller.AdminChangeActiveCmtCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminChangeActiveCmtCotroller</servlet-name>
    <url-pattern>/admin/comment/change-active</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelCmtCotroller</servlet-name>
    <servlet-class>controller.AdminDelCmtCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCmtCotroller</servlet-name>
    <url-pattern>/admin/comment/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddCmtCotroller</servlet-name>
    <servlet-class>controller.AdminAddCmtCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCmtCotroller</servlet-name>
    <url-pattern>/admin/comment/add</url-pattern>
  </servlet-mapping>
</web-app>